
body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
/*  background-size: cover;
*/  height: 100%;
  background-color: bl
  height: 700px;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 2px 2px 3px #666;
}

#iframe {
  border-radius: 2px;
  border: 2px solid #2c3e50;
}



header {
  width: 4000px;
  background-color: #34495e;
  color: white;
  font-size: 60px;
  height: 80px;
  opacity: .95;
  border-radius: 4px;
  box-shadow: 3px 3px 3px black;
  position: relative;
  text-align: left;
}



#logout {
  position: absolute;
  top: 30px;
  left: 1700px;
  font-size: 30px;
  text-decoration: none;
  color: #06799f;
}

#logout:hover {
  color: #bf7930;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#pick_actors {
  box-shadow: 6px 6px 6px black;
  width: 550px;
  opacity: 0.96;
  border: 1px solid grey;
  height: 270px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;

}

#pick_actors input{
  margin: 15px 0;
  padding: 10px;
  Height: 50px;
  width: 100%;
  width: 518px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#pick_actors button{
  margin: 40px 10px 0 0;
  position: relative;
  padding: 15px 8px;
  width: 100%;
  border: 1px solid #2493FF;
  overflow: visible;
  display: inline-block;
  color: #fff;
  font: 1.4em sans-serif;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  background-color: #2493ff;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
  transition: background-color .2s ease-out;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
            0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
        0 1px 0 rgba(255, 255, 255, .5) inset;
}

#pick_actors button:hover{
  background-color: #7cbfff;
  border-color: #7cbfff;
}

#pick_actors button:active{
  position: relative;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}

#video {
  position: relative;
  margin: 20px 0 0;
}

#player {
  display:none;
}

#login_link, #login_info {
  font-size: 40px;
  color: white;
  font-family: 'Doppio One', sans-serif;
}

#recent_fights {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
  border-radius: 1px;
  box-shadow: 6px 6px 6px black;
  opacity: 0.96;
  text-align: center;
  position: fixed;
  bottom: 0;
  left:0;
}

#recent_fights h3 {
  text-decoration: none;
  text-align: left;
  color: #06799f;
}

#recent_fights h3:hover {
  color: #bf7930;
}

#winner {
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 6px 6px black;
  width: 580px;
  margin: 0 auto;
  margin-top: 30px;
}
