body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 2px 2px 3px #666;
}
header { 
  background-size: cover;
  background-color: #34495e; 
  color: white;
  font-size: 60px;
  height: 80px;
  opacity: .95;
  border-radius: 4px;
  box-shadow: 3px 3px 3px black;
  top: 100px;
  text-align: left;
}


header: h1:first-child {
  font-size: 75px;
  font-family: 'pf-din';
  color: #333;
  font-weight:bold;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: #06799f;
}

a:hover {
  color: #bf7930;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}


#pick_actors {
  box-shadow: 6px 6px 6px black;
  width: 550px;
  border: 1px solid grey;
  opacity:0.9;
  height: 270px;
  margin: 100px auto 50px auto;
  padding: 20px;
  top: -100px;
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
}
#pick_actors input{
  margin: 15px 0;
  padding: 10px;
  Height: 50px;
  width: 100%;
  width: 518px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#pick_actors button{
  margin: 40px 10px 0 0;
  position: relative;
  top: -25px;
  padding: 15px 8px;
  width: 100%;
  border: 1px solid #2493FF;
  overflow: visible;
  display: inline-block;
  color: #fff;
  font: 1.4em sans-serif; 
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  background-color: #2493ff;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
  transition: background-color .2s ease-out;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
            0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
        0 1px 0 rgba(255, 255, 255, .5) inset;
}

#pick_actors button:hover{
  background-color: #7cbfff;
  border-color: #7cbfff;
}

#pick_actors button:active{
  position: relative;
  top: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}
#video {
  position: relative;
  margin: 20px 0 0;
  top: 250px;  
}
#player { 
  display:none;
}
