
<div class="container">  
  <div id = "content">
    <div id = "video">
      <video id = "player" width="550" height="400" controls>
        <source src="movie.mp4" type="video/mp4">
        </video>
      <form id="pick_actors" action="/actors" method="post">
        <input type="text" placeholder="Choose your 1st Actor" name="firstactor" required="">
        <input type="text" placeholder="Choose your 2nd Actor" name = "secondactor"required="">
        <button type="submit">Submit</button>
      </form>
    </div>
    <h1 id="winner"></h1>
  </div>
</div>
