<div class="container">
  <h1>Movie Fight<h1>
  <video width="320" height="240" controls>
    <source src="movie.mp4" type="video/mp4">
  </video>
  <form action="/actors" method="post">
    <h3> First Actor: </h3>  <input type="text" name="firstactor">
    <h3> Second Actor: </h3> <input type= "text" name = "secondactor">
    <input type="submit" value="Submit">
  </form>
</div>
