<div class="container">
  <div id = "content">
    <h3 id = "login_info"> How well do you know your favorite actors? <br><a id ="login_link" href="/login">Sign up</a> and start your movie fight...<h3>

      <iframe id ="iframe" width="560" height="315" style="background-color:black;" src="//www.youtube.com/embed/08bzBAKCRlM?autoplay=1&rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div>
