
<div class="container">
  <div id = "content">
    <h3 id = "login_info">Figure out which actor is the most popular<br> <a id ="login_link" href="/login">Sign up</a> and start your movie fight...<h3>
  </div>
</div>
</div>
